@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");

@tailwind base;
@tailwind components;
@font-face {
  font-family: "CalSans";
  src: local("CalSans"), url("/fonts/CalSans.woff2") format("woff2");
}
@font-face {
  font-family: "PTRootUI";
  src: url("/fonts/PTRootUI/PT-Root-UI_Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "PTRootUI";
  src: url("/fonts/PTRootUI/PT-Root-UI_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PTRootUI";
  src: url("/fonts/PTRootUI/PT-Root-UI_Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PTRootUI";
  src: url("/fonts/PTRootUI/PT-Root-UI_Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PTRootUI";
  src: url("/fonts/PTRootUI/PT-Root-UI_VF.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@tailwind utilities;

.text-nouns {
  font-family: "Londrina Solid", sans-serif;
}

html {
  background: black;
}

body {
  color: #161616;
  font-family: ;
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 40px;
  letter-spacing: 0.01em;
}
h3 {
  font-size: 36px;
  letter-spacing: 0.015em;
}
h4 {
  font-size: 28px;
  letter-spacing: 0.02em;
}
h5 {
  font-size: 20px;
  letter-spacing: 0.03em;
}
h6 {
  font-size: 16px;
  letter-spacing: 0.04em;
}
.quote {
  font-size: 24px;
  letter-spacing: 0.02em;
}
.smaller_cal_sans {
  font-size: 18px;
  letter-spacing: 0.045em;
}
.gradient {
  background-image: linear-gradient(0deg, rgb(0 0 0 / 70%), transparent);
}
.gradient:hover {
  background-image: linear-gradient(0deg, rgb(0 0 0 / 85%), transparent);
}

/*  */

.interstitial-wrapper {
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1.6em;
  margin: 50px auto 0;
  max-width: 900px;
  width: 100%;
}

@media (max-width: 700px) {
  .interstitial-wrapper {
    padding: 0 10%;
  }
}

@media (max-height: 600px) {
  .interstitial-wrapper {
    margin-top: 5px;
  }
}

@media (max-width: 400px) {
  .interstitial-wrapper {
    padding: 0 5%;
  }
}

/* Don't use the main frame div when the error is in a subframe. */
html[subframe] #main-frame-error {
  display: none;
}

#main-frame-error {
  margin: 0;
}

.hidden {
  display: none;
}

/* Don't allow overflow when in a subframe. */
html[subframe] body {
  overflow: hidden;
}

#buttons::after {
  clear: both;
  content: "";
  display: block;
  width: 100%;
}

/* Offline page */
.offline .interstitial-wrapper {
  color: #2b2b2b;
  font-size: 1em;
  line-height: 1.55;
  margin: 100px auto 0;
  max-width: 900px !important;
  width: 100%;
}

.offline .runner-container {
  height: 225px !important;
  max-width: 900px !important;
  overflow: hidden;
  position: absolute;
  top: 10px;
  width: 44px;
  z-index: 2;
}

.offline .runner-canvas {
  height: 225px !important;
  max-width: 900px !important;
  width: 900px !important;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.offline .controller {
  background: rgba(247, 247, 247, 0.1);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

#offline-resources {
  display: none;
}

@media (max-height: 350px) {
  .interstitial-wrapper {
    margin-top: 5%;
  }
}
