@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");

@tailwind base;
@tailwind components;
@font-face {
  font-family: "CalSans";
  src: local("CalSans"), url("/fonts/CalSans.woff2") format("woff2");
}
@font-face {
  font-family: "PTRootUI";
  src: url("/fonts/PTRootUI/PT-Root-UI_Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "PTRootUI";
  src: url("/fonts/PTRootUI/PT-Root-UI_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PTRootUI";
  src: url("/fonts/PTRootUI/PT-Root-UI_Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PTRootUI";
  src: url("/fonts/PTRootUI/PT-Root-UI_Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PTRootUI";
  src: url("/fonts/PTRootUI/PT-Root-UI_VF.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@tailwind utilities;

.text-nouns {
  font-family: "Londrina Solid", sans-serif;
}

.text-pt {
  font-family: "PTRootUI";
}

html {
  background: black;
}

body {
  color: #161616;
  font-family: ;
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 40px;
  letter-spacing: 0.01em;
}
h3 {
  font-size: 36px;
  letter-spacing: 0.015em;
}
h4 {
  font-size: 28px;
  letter-spacing: 0.02em;
}
h5 {
  font-size: 20px;
  letter-spacing: 0.03em;
}
h6 {
  font-size: 16px;
  letter-spacing: 0.04em;
}
.quote {
  font-size: 24px;
  letter-spacing: 0.02em;
}
.smaller_cal_sans {
  font-size: 18px;
  letter-spacing: 0.045em;
}
.gradient {
  background-image: linear-gradient(0deg, rgb(0 0 0 / 70%), transparent);
}
.gradient:hover {
  background-image: linear-gradient(0deg, rgb(0 0 0 / 85%), transparent);
}

/*  */
/*  */
/*  */
#main-frame-error {
  margin: 0 !important;
}
.interstitial-wrapper {
  margin: 0 !important;
}

.notion {
  color: white !important;
  caret-color: white !important;
  margin: 20px 0px;
}
.notion-text {
  font-size: 28px;
  font-family: "Londrina Solid", sans-serif;
  letter-spacing: 0.07rem;
  text-decoration: underline;
}
.notion-text:not(:first-child) {
  margin-top: 25px;
}

main {
  max-width: 1250px;
}

.embed-page .publication-tagline {
  display: none !important;
}
.embed-page .publication-name {
  display: none !important;
}
.embed-page .no-logo {
  display: none !important;
}
.embed-page .substack-watermark {
  display: none !important;
}

.newsletter .embed-page {
  height: auto !important;
}

.subscribe-widget .sideBySideWrap input {
  height: 30px !important;
  font-size: 10px !important;
}

.subscribe-widget .sideBySideWrap button {
  background: darkslategrey !important;
  font-size: 10px !important;
  height: 30px !important;
  min-width: 80px !important;
  padding: 0px 8px !important;
}
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

@media (min-width: 1169px) {
  .vertical-timeline-element-date {
    padding: 10px !important;
    color: white;
    opacity: 100%;
  }
}

.embed-page {
  padding: 0px !important;
}

.notion li {
  color: black !important;
}
.notionNotes .notion li {
  color: white !important;
}
.introNouns {
  color: black !important;
}
.introNouns .notion-h1,
.notion-h2,
.notion-h3 {
  color: black !important;
  font-family: "Londrina Solid";
  font-size: 1.875em !important;
}
.introNouns .notion-text {
  color: black !important;
  font-size: 18px !important;
  font-family: "PTRootUI" !important;
  text-decoration: none !important;
  letter-spacing: normal !important;
}
.introNouns .notion-h1:not(:first-child) {
  margin-top: 45px !important;
}
.introNouns .notion-row {
  display: flex !important;
  color: black !important;
}
.introNouns .notion-asset-wrapper {
  width: auto !important;
}
.introNouns .notion-asset-wrapper div {
  padding-bottom: inherit !important;
}
.introNouns .notion-text:not(:first-child) {
  margin-top: 0px !important;
  margin-botom: 10px !important;
}

.introNouns .notion-link {
  color: #3e64ff;
  font-family: "Londrina solid";
  letter-spacing: 0.05em;
  text-decoration: underline;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.introNouns .notion-link:hover {
  color: #1d4ed8;
}

.introNouns .notion-callout-text {
  color: black !important;
}

.nouners .notion-h2 {
  font-family: "PTRootUI" !important;
  text-decoration: underline !important;
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  margin-top: 25px !important;
}
.nouners .notion-h3 {
  font-family: "PTRootUI" !important;
  color: #3e64ff !important;
  font-weight: 700 !important;
  margin-bottom: 5px !important;
  margin-top: 25px !important;
  max-width: fit-content !important;
  font-size: 1.35em !important;
}

.nouners .notion-asset-wrapper {
  display: none;
}

.nouners .notion-text:first-of-type {
  display: none;
}
.nouners .notion-h1:first-of-type {
  margin-top: 0px !important;
}
.devGrid ul li:nth-child(4n) {
  border: none;
}
