name: Prettier & Lint Checker

on:
  push:
  pull_request:

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v2
      # - uses: actions/cache@v2
      #   name: Configure npm caching
      #   with:
      #     path: ~/.npm
      #     key: ${{ runner.os }}-npm-${{ hashFiles('**/workflows/prettier.yml') }}
      #     restore-keys: |
      #       ${{ runner.os }}-npm-
      - name: Run linter
        run: npm run lint
      - name: Run prettier
        run: npm run format-check
